/*google font*/
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    font-family: 'League Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b4450;
}


/*logo*/

#logo {
    color: #f78536;
    text-align: center;
    font-size: 4.5em;
    letter-spacing: 5px;
    text-decoration: none;
    display: block;
}


/*home page & buttons*/

.home-container {
    background-color: #497285;
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    box-shadow: 0 5px 10px #1d2d35;
    display: block;
}

.home-container h2 {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: #DFEBED;
    letter-spacing: 5px;
    padding: 50px 0 50px;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.5em;
    background-color: #f78536;
    color: #DFEBED;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 400px;
    box-shadow: 0 5px 10px #2b4450;
    transition: 0.3s;
    border: 0px;
}

.btn:hover {
    background-color: #ff6a00;
    color: #2b4450;
}


/*game container*/

.game-container {
    background-color: #497285;
    margin: 75px;
    height: 510px;
    box-shadow: 0 5px 10px #1d2d35;
}

.game-header {
    background-color: #f78536;
}

.game-header p {
    font-size: 2.5rem;
    display: inline-block;
    padding: 0 15px 0 15px;
}

#score {
    float: right;
}

.question-container {
    background-color: #497285;
    width: 50%;
    display: inline-block;
}

#question-label {
    font-size: 350%;
    color: #DFEBED;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.answer-container {
    background-color: #497285;
    float: right;
    width: 50%;
    text-align: -webkit-center;
}

.choice-box {
    display: flex;
    width: 75%;
    margin-top: 45px;
    background-color: #f78536;
    transition: 0.2s;
    height: 60px;
    align-items: center;
    overflow: hidden;
}

.choice-box:hover {
    cursor: pointer;
    background-color: #ffcaa4;
    width: 76%;
    height: 65px;
}

.choice-box:active {
    width: 80%;
}

.choice-prefix {
    font-size: 2rem;
    text-align: center;
    color: #1d2d35;
    text-transform: uppercase;
    width: 60px;
    transition: 0.3s;
}

.choice-text {
    font-size: 1.2rem;
    text-align: center;
    color: #1d2d35;
    text-transform: uppercase;
    transition: 0.3s;
    width: 100%;
    height: 65px;
    padding-top: 40px;
}

.correct {
    background-color: rgb(72, 253, 48);
}

.incorrect {
    background-color: rgb(255, 68, 68);
}

.correct:hover {
    background-color: rgb(72, 253, 48);
}

.incorrect:hover {
    background-color: rgb(255, 68, 68);
}

/*end page*/
#finalScore {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: #DFEBED;
    margin-top: -50px;
}

.btn-small {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    background-color: #f78536;
    color: #DFEBED;
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 80%;
    box-shadow: 0 5px 10px #2b4450;
    transition: 0.3s;
    border: 0;
}

.btn-small:hover {
    background-color: #ff6a00;
    color: #2b4450;
}

#username {
    width: 80%;
    font-size: 2rem;
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*highscore page*/

#highScoresList {
    text-align: center;
    font-size: 2rem;
    color: white;
    list-style: none;
    letter-spacing: 2px;
}

.high-score-list {
    transition: 0.2s;
}

.high-score-list:hover {
    font-size: 2.3rem;
}

/*media quires*/
@media screen and (max-width: 820px) {
    .home-container a {
        width: 80%;
    }

    .home-container {
        height: 700px;
    }

    .game-container {
        margin: 25px;
        height: 700px;
        overflow: auto;
    }

    .question-container {
        width: 100%;
    }

    #question-label {
        padding: 20px;
        font-size: 2.5rem;
    }

    .answer-choice {
        display: flex;
        width: 100%;
    }

    .answer-container {
        display: contents;
    }

    .choice-box {
        width: 100%;
        margin-top: 15px;
    }
    
}

@media screen and (max-width: 1080px) {
    #question-label {
        font-size: 2.5rem;
    }

    .choice-box {
        display: flex;
        width: 100%;
        margin-top: 45px;
        background-color: #f78536;
        transition: 0.2s;
        height: 60px;
        align-items: center;
        overflow: hidden;
    }
    
    .choice-box:hover {
        cursor: pointer;
        background-color: #ffcaa4;
        width: 100%;
        
    }
    
    .choice-box:active {
        height: 60px;
    }

    .choice-box:hover:not(:active) {
        height: 60px;
        background-color: #f78536;
    }
    
    .choice-text {
        font-size: 1.2rem;
        text-align: center;
        color: #1d2d35;
        text-transform: uppercase;
        transition: 0.3s;
        width: 100%;
        height: 65px;
        padding-top: 40px;
    }
    
    .correct {
        background-color: rgb(72, 253, 48);
    }
    
    .incorrect {
        background-color: rgb(255, 68, 68);
    }
    
    .correct:hover {
        background-color: rgb(72, 253, 48);
    }
    
    .incorrect:hover {
        background-color: rgb(255, 68, 68);
    }
}