/*google font*/
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    font-family: 'League Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b4450;
}


/*logo*/

#logo {
    color: #f78536;
    text-align: center;
    font-size: 4.5em;
    letter-spacing: 5px;
    text-decoration: none;
    display: block;
}


/*home page*/

.home-container {
    background-color: #497285;
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    box-shadow: 0 5px 10px #1d2d35;
    display: block;
}

.home-container h2 {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: #DFEBED;
    letter-spacing: 5px;
    padding: 50px 0 50px;
}

.home-container a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.5em;
    background-color: #f78536;
    color: #DFEBED;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 400px;
    box-shadow: 0 5px 10px #2b4450;
}

.home-container a:hover {
    background-color: #ff6a00;
    color: #2b4450;
}


/*game container*/

.game-container {
    background-color: #497285;
    width: 75vw;
    height: 75vh;
    margin-left: 195px;
    box-shadow: 0 5px 10px #1d2d35;
}