/*google font*/
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    font-family: 'League Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b4450;
}


/*logo*/

#logo {
    color: #f78536;
    text-align: center;
    font-size: 4.5em;
    letter-spacing: 5px;
    text-decoration: none;
    display: block;
}


/*home page*/

.home-container {
    background-color: #497285;
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    box-shadow: 0 5px 10px #1d2d35;
    display: block;
}

.home-container h2 {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: #DFEBED;
    letter-spacing: 5px;
    padding: 50px 0 50px;
}

.home-container a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.5em;
    background-color: #f78536;
    color: #DFEBED;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 400px;
    box-shadow: 0 5px 10px #2b4450;
}

.home-container a:hover {
    background-color: #ff6a00;
    color: #2b4450;
}


/*game container*/

.game-container {
    background-color: #497285;
    width: 75vw;
    height: 75vh;
    margin-left: 195px;
    box-shadow: 0 5px 10px #1d2d35;
}

.game-header {
    background-color: #f78536;
}

.game-header p {
    font-size: 2.5rem;
    display: inline-block;
    padding: 0 15px 0 15px;
}

#score-current {
    float: right;
}

.question-container {
    background-color: #497285;
    width: 50%;
    display: inline-block;
}

.question-label {
    font-size: 5rem;
    color: #DFEBED;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.answer-container {
    float: right;
    width: 50%;
    display: inline-block;
}

.answer-choice {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #f78536;
    border-radius: 20px;
    height: 60px;
}

.choice-text {
    font-size: 1.3rem;
    text-align: center;
    color: #DFEBED;
    text-transform: uppercase;
    padding: 4px;
}

